server:
  port: ${PORT:8070}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: tcp-proxy
  security:
    oauth2:
      resourceserver:
        jwt:
          # Validate incoming JWTs using the Server's public JWKS
          jwk-set-uri: http://localhost:8080/.well-known/jwks.json

app:
  public-host: localhost
  web-socket:
    max-text-message-size: 100MB
    max-binary-message-size: 1GB
    session-idle-timeout: 10m